<style>
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }
  
*, *:before, *:after {
    behavior: url(/css/border-radius.htc);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

*:focus {
    outline: none;
}

input{
    width:100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    padding:0;
    border:0;
}

input:focus{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    padding:0;
    border:0;
    

}



select{
    min-width:100%;
    max-width:100%;
    width:100% !important;
   -webkit-appearance: none;
   -moz-appearance: none;
    appearance: none;
   padding:0;
   border:0;
   margin:0;
   background-color:white;
}

table{
    
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    margin:0;
}

tr{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
td{
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


select:focus{
    min-width:100%;
    max-width:100%;
    width:100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin:0;
    border:0;

}

select option{ 
    min-width:100%;
    max-width:100%;
    width:100% !important;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   margin:0;
   border:0;
   padding:0;

 
  
}

textarea{
    -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0;
}

p{
    -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0;
    float:left;
}


span{
   -webkit-appearance: none;
    -moz-appearance: none;
    width:100%;
    border:0;
    margin:0;
    padding:0; 
    
}



@media (max-width:800px){
    

    
}

@media (max-width:500px){
    
 
    
 
    
}

@media (device-width:500px){
  

}



html{

    background-color:white;
    color:black;
}



input[type="button"]{
    cursor:pointer;
}






textarea{
    min-height:20px;
}


div.box{
    border:1px solid silver;
    width:100%;
    float:left;
    margin-top:5px;
    padding:2px;
    box-shadow: 2px 2px 2px #CCCCCC;
  
  
}

div.box-vertical{
    
    width:30px;
    float:left;
    margin:5px;
  
   
  }
div.box-horizontal{
  
    height:30px;
    float:left;
    margin:5px;
  }  


.in{
   float:left;
   width:75%;
   margin:1px;
   color:grey;
}

.in:focus{
   float:left;
   width:75% !important;
   color:grey;
}

span.row{
   float:left;
   width:100%;
   margin:1px;
   padding:1px;
   
   
  
}

span.row_input{
  float:left;
   width:auto;
   height:auto;
   margin:1px;
   margin-top:1px;
   margin-left:5px;
   padding-left:10px;
   margin-right:5px;
   background-color:silver;
   cursor:pointer;
  }
  
 span.row_option{
   
   
  }  
  
  .opt{
    color:white;
    margin:3px;
    font-size:50%;
    }
    
    .chk{
    color:black;
    margin:3px;
    font-size:50%;
    text-align:right;
    }  
  
  .circle {
    width: 30px;
    height:30px;
    float:left;
    background: silver;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    text-align:center;
    font-size:20px;
    padding:3px;
    cursor:pointer;
    box-shadow: 2px 2px 2px #CCCCCC;
}


.tube-vetical{
     border-radius: 0px 0px 0px 0px;
     float:left;
     width:30px;
    
}

.line-vertical{
     border-radius: 0px 0px 0px 0px;
     border-right:3px solid black;
     height:40px;
     width:16px;
     float:left;
     
  
  }
  
  .tube-horizontal{
      border-radius: 0px 0px 0px 0px;
      float:left;
      height:30px;
  
    
  }
  
  .line-horizontal{
      border-radius: 0px 0px 0px 0px;
      float:left;
      
      border-bottom:3px solid black;
      height:16px;
      width:40px;
  }
  
  
  .options{
     
         border:1px solid silver;
    width:auto;
    height:auto;
    float:left;
    padding:0px;
    box-shadow: 2px 2px 2px #CCCCCC;
    
    }
    
    .options span{
      float:left;
      margin-top:0px;
      width:100%;
      height:auto;
     
      
      }
    
    
      .options .option-icon{
       border-radius: 0px 0px 0px 0px;
       text-align:center;
       float:left;
       height:30px;
       font-size:15px;
       padding:7px;
       width:20%;
       border-bottom: 1px solid silver;
       cursor:pointer;
       
      }
      
    
    .options .option{
       border-radius: 0px 0px 0px 0px;
       float:left;
       text-align;center;
       padding:7px;
       height:30px;
       font-size:15px;
       width:50%;
       border-bottom: 1px solid silver;
       cursor:pointer; 
      }
     .options .option-state{
       border-radius: 0px 0px 0px 0px;  
       float:left;
       padding:7px;
       text-align:center;
       height:30px;
       font-size:10px;
       border-bottom: 1px solid silver; 
       width:30%;
       cursor:pointer;
      }
      
    
  .multi-options{
    
    }    
  

</style>
<div class="box">
  
  <span class="row">
  <p>HELP</p>  
  </span>
  <span class="row" >  

  <input type="text" class="in" placeholder="HELP HELP" ><input class="in" type="text" placeholder="WAAP" >
  
  </span>
</div>




<div class="box">
  <span class="row">
    <p>WORK</p>
  </span>
    <span class="row">
    <p>WORK</p>
  </span>
  <span class="row_input">
  
    <p>CALL<sup class="opt">&#9932;</sup></p>
  
  </span>
    <span class="row_input">
   
    <p>SHOW<sup class="opt">&#9949;</sup></p>
    
  </span>
  
  
  
</div>
<div class="box-vertical">
<div class="circle"><p>1</p></div>
<div class="tube-vertical">
       <div class="line-vertical"></div>
</div>
<div class="circle"><p>2</p></div>


<div class="tube-vertical">
       <div class="line-vertical"></div>
</div>
<div class="circle"><p>3</p></div>
</div>



<div class="box-horizontal">
  <div class="circle"><p>10</p></div>
  <div class="tube-horizontal">
       <div class="line-horizontal"></div>
  </div>
   <div class="circle"><p>11</p></div>
   <div class="tube-horizontal">
       <div class="line-horizontal"></div>
  </div>
  <div class="circle"><p>12</p></div>
  
</div>

